* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.content {
  max-width: 906px;
  margin: 0 auto;
  padding: 123px 0px 957px 0px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.content .content__title {
  font-size: 14px;
  line-height: 40px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #000000;
}

.content .content__ul-list {
  margin-bottom: 20px;
  font-size: 20px;
}

.content .content__ul-list li {
  line-height: 36px;
  color: #273d46;
}

.content .content__ul-list li::before {
  content: url(" ../../img/icons/check.png");
  margin: 0px 10px 0px 0px;
}

.content .content__ul-list li:first-child {
  text-decoration: line-through;
}

.content .content__ul-list li:first-child:hover {
  text-decoration: none;
}

.content .content__ul-list li:nth-child(2) {
  font-weight: 700px;
}

.content .content__ul-list li:nth-child(2):hover {
  color: #d55a5a;
}

.content .content__ul-list li:nth-child(2):hover::before {
  content: url("../../img/icons/arrow_red.png");
}

.content .content__ul-list li:nth-child(3) {
  font-style: italic;
}

.content .content__ul-list li:nth-child(3):hover {
  font-style: normal;
}

.content .content__ul-list li:last-child {
  text-transform: uppercase;
}

.content .content__ul-list li:last-child:hover {
  text-transform: none;
}

.content .content__button {
  -webkit-box-shadow: 0px 6px 40px 0px rgba(128, 183, 179, 0.54);
          box-shadow: 0px 6px 40px 0px rgba(128, 183, 179, 0.54);
  border: 1px solid none;
  border-radius: 25px;
  width: 200px;
  height: 44px;
  text-align: center;
  background-color: #80b7b3;
}

.content .content__button span {
  line-height: 40px;
  font-size: 14px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #ffffff;
}

.content .content__button span::after {
  content: "";
  background: url("../../img/icons/arrow.png") right;
  background-size: 100% 100%;
  display: inline-block;
  width: 21px;
  height: 10px;
  opacity: 0.8;
  margin-left: 11px;
}

.content .content__button:hover {
  background-color: #3a5856;
}

.content .content__button:hover:active {
  background-color: #818181;
}

.content .content__input_text {
  font-size: 14px;
  line-height: 40px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #000000;
}

.content .content__input {
  border: 1px solid #b0b0b0;
  width: 294px;
  height: 52px;
}

.content .content__input:focus {
  border: 1px solid #7fbed5;
  -webkit-box-shadow: 0px 0px 20px -1px rgba(127, 190, 213, 0.93);
          box-shadow: 0px 0px 20px -1px rgba(127, 190, 213, 0.93);
}
