@import "null";

.content {
    max-width: 906px;
    margin: 0 auto;
    padding: 123px 0px 957px 0px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    .content__title {
        font-size: 14px;
        line-height: 40px;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        color: #000000;
    }
    .content__ul-list {
        margin-bottom: 20px;
        font-size: 20px;
        li {
            line-height: 36px;
            color: #273d46;
            &::before {
                content: url(" ../../img/icons/check.png");
                margin: 0px 10px 0px 0px;
            }
            &:first-child {
                text-decoration: line-through;
                &:hover {
                    text-decoration: none;
                }
            }
            &:nth-child(2) {
                font-weight: 700px;
                &:hover {
                    color: #d55a5a;
                    &::before {
                        content: url("../../img/icons/arrow_red.png");
                    }
                }
            }
            &:nth-child(3) {
                font-style: italic;
                &:hover {
                    font-style: normal;
                }
            }
            &:last-child {
                text-transform: uppercase;
                &:hover {
                    text-transform: none;
                }
            }
        }
    }
    .content__button {
        box-shadow: 0px 6px 40px 0px rgba(128, 183, 179, 0.54);
        border: 1px solid none;
        border-radius: 25px;
        width: 200px;
        height: 44px;
        text-align: center;
        background-color: #80b7b3;
        & span {
            line-height: 40px;
            font-size: 14px;
            letter-spacing: 0.2em;
            text-transform: uppercase;
            color: #ffffff;
            &::after {
                content: "";
                background: url("../../img/icons/arrow.png") right;
                background-size: 100% 100%;
                display: inline-block;
                width: 21px;
                height: 10px;
                opacity: 0.8;
                margin-left: 11px;
            }
        }
        &:hover {
            background-color: #3a5856;
            &:active {
                background-color: #818181;
            }
        }
    }
    .content__input_text {
        font-size: 14px;
        line-height: 40px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        color: #000000;
    }
    .content__input {
        border: 1px solid #b0b0b0;
        width: 294px;
        height: 52px;
        margin-bottom: 20px;
        &:focus {
            border: 1px solid #7fbed5;
            box-shadow: 0px 0px 20px -1px rgba(127, 190, 213, 0.93);
        }
    }
    .content__text {
        font-weight: 600;
        font-size: 18px;
        line-height: 28px;
        & p:first-child:first-line {
            color: red;
        }
        & p:last-child::first-letter {
            font-size: 24px;
            color: red;
        }
    }
}
